.productsView {
    padding: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 780px;

    .product {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #EEE;
        border: 2px solid #CCC;
        color: #222;
        height: 180px;
        overflow: hidden;
        cursor: pointer;

    }
}